input {
    background-color: chocolate;
    width: 200px;
    height: 30px;
    margin: 20px;
    text-align: center;

}

.inputs {
    text-align: center;

    margin:120px auto;
    background-color: black;
    width: 300px;
    border-radius: 20px;
    position: relative;
    height: 400px;
}
::placeholder{
color: black;
}
